body {
  margin: 10px;
}


/* DIVS */
div.titleBar {
    width: 100%;
    height: 80px;
    line-height: 75px;
    
    text-align: center;
    color: black;
    background-color: transparent;
    font-size: 52px;
    margin: 10px;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

div.navBar {
    width: 110px;
    height: 200px;
    line-height: 75px;
    text-align: center;
}

/* BUTTONS */
button.barButton {
    background-color: #add8e6; /* Light Blue */
    border: 2px solid #add8e6;
    color: black;
    float: left;
    width: 110px;
    margin: 10px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

    /* below is used to determine the speed at which animations work */
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}
button.barButton:hover {
    background-color: #008CBA;
    border: 2px solid #008CBA;
    color: white;
    width: 115px;
    height: 60px;
}
